[2016-09-16 05:34] joshuamorton opened #1 "Get Google Maps key Working"
Add google maps key and keep it private so other people don't use it.

Also it currently exists in the git history, so we may want to go ahead and expunge it from history as well.

[2016-09-16 05:35] joshuamorton opened #2 "Implement Lidar Scan"

[2016-09-16 05:35] joshuamorton opened #3 "Formalize camera calibration"

[2016-09-16 15:19] irapha commented on #1
I already pushed changes to keep key private. Only things I need to do is expunge the key from the repo, correct?

[2016-09-16 15:20] irapha opened #4 "Implement frame merger and tentacle projection"

[2016-09-16 16:19] irapha commented on #1
I'm gonna have to temporarily disable continuous integrations so I can force overwrite the history to remove the keys

[2016-09-16 16:20] casey2161 commented on #1
This is y we don't include api keys in our repo children

[2016-09-16 16:21] irapha commented on #1
Yes. Also, correction. I'm not removing continuous integration. I'm removing master branch protection. (!!!!!!!)

[2016-09-17 02:59] diptodip commented on #1
rapha pls

[2016-09-17 03:03] irapha commented on #1
friend this is not how you do.
after rewriting the history, you should have rebased, not merged.

[2016-09-17 03:09] #1 closed, assigned to irapha

[2016-10-12 00:31] joshuamorton commented on #3
@kpberry at least started this when he created the config.py

[2016-10-12 00:36] irapha commented on #4
I believe this is done and merged on #5

[2016-10-12 00:36] #4 closed, assigned to irapha

[2016-10-12 01:08] diptodip opened #7 "Rename/relocate GPS interpolation node."
Currently, in `buzzmobile/sense/gps` we have `bearing.py`, `interpolate.py`, `gps_mapper.py` and `maps.py` which should be moved to `buzzmobile/process/gps_mapper`.

[2016-10-12 01:09] #2 closed, assigned to nobody

[2016-10-12 01:10] kpberry opened #8 "Rossify lidar"
Code should work, has not been tested yet

[2016-10-12 01:11] kpberry opened #9 "Move lidar.py to process/lidar_to_frame/lidar_to_frame.py"

[2016-10-12 01:11] irapha opened #10 "Have route_map image viewer plugin in mission_control"
blocked by route mapper not yet existing

[2016-10-12 01:12] irapha opened #11 "Create launch files"

[2016-10-12 01:13] kpberry opened #12 "Separate out sense/maps_queries and process/gps_mapper"

[2016-10-12 01:14] kpberry opened #13 "Rossify gps_mapper"
Takes polyline and saves it, outputs a gps frame at every NavFix received

[2016-10-12 01:16] kpberry opened #14 "Test lidar_to_frame and gps_mapper on real lidar and gps"

[2016-10-12 01:17] irapha opened #15 "Create route_mapper"
Should take map_querier's `polyline` and the current `NavFix` and output a `route_map` image gotten from google maps' static api (example code in `buzzmobile/tools/mapper/mapper.py`)

Also note: only query every 8 secs, and every time new polyline is published, so we dont run into our daily limit

[2016-10-12 01:17] kpberry opened #16 "Create and test joystick node"

[2016-10-12 01:17] irapha opened #17 "Get actuator nodes from iarrc or buzzmobile-old repos"

[2016-10-12 01:21] irapha commented on #13
Pretty sure this is ready, just not tested, so I'm still assigning Diptodip

[2016-10-12 01:21] irapha commented on #11
Ru try to get this done, let us know if you run into issues

[2016-10-12 01:22] irapha commented on #7
Probably maybe blocked by #12

[2016-10-12 01:23] irapha commented on #14
Field trip after agency meeting tomorrow for this to happen

[2016-10-12 18:09] joshuamorton opened #19 "Format project as a python package as well as Ros Package"
Add `__init__.py` to `buzzmobile/buzzmobile/` and elswhere if necessary, setup `from buzzmobile import _______` throughout the project.

[2016-10-12 18:12] irapha commented on #19
Whomever does this needs to make sure it works well in ROS, not just as python files, mainly bc ROS nodes are not run from the same dir as where the files are.

[2016-10-12 18:29] irapha opened #20 "Create ROS unit tests"
http://wiki.ros.org/unittest

These will automatically be run by travis ci at every push.

[2016-10-12 18:33] joshuamorton commented on #20
I also kinda want us to use pytest, but I'm not sure if it is compatible with ROS.

[2016-10-12 21:57] irapha commented on #3
This issue includes camera calibration. Assigning @casey2161 to it so he can help you, @kpberry

[2016-10-12 21:59] #10 closed, assigned to irapha

[2016-10-12 21:59] #15 closed, assigned to irapha

[2016-10-13 02:10] irapha opened #22 "Write README instructions for hokuyo_node"
Should be similar to instructions for gps node

Also add as dep in `package.xml`

[2016-10-13 13:48] #22 closed, assigned to irapha

[2016-10-13 13:51] irapha opened #23 "Add googlemapskey instructions in README"
Blocked by #7 to have final key location instructions.

Also add instructions for static maps api key (needed for `route_mapper` node).

[2016-10-16 18:15] irapha opened #24 "Implement brake in steering"

[2016-10-16 23:39] irapha opened #25 "Create map of architecture"
Having a map of nodes and messages would be useful for future reference.

[2016-10-16 23:58] irapha commented on #19
So we ended up doing this with rosparams, as seen in #26

[2016-10-17 00:02] irapha opened #27 "Add rosparam information to README"

[2016-10-17 00:34] #9 closed, assigned to kpberry

[2016-10-17 00:34] #8 closed, assigned to kpberry

[2016-10-17 00:42] kpberry commented on #27
rosparam load buzzmobile/buzzmobile/constants.yaml should be run upon launch

[2016-10-17 01:16] irapha opened #28 "State machine"
AUTO/MANUAL

[2016-10-17 01:16] irapha commented on #12
bump @joshuamorton

[2016-10-17 01:45] #14 closed, assigned to joshuamorton, irapha, kpberry, ruyimarone, diptodip

[2016-10-17 17:07] #12 closed, assigned to irapha

[2016-10-17 17:07] #23 closed, assigned to irapha

[2016-10-17 19:18] irapha commented on #3
@casey2161 as part of this issue, make note of this TODO:

https://github.com/gtagency/buzzmobile/compare/rosparam?expand=1#diff-2fa7d5d90085fc21a96b44071a6e15caR29

[2016-10-17 19:25] joshuamorton commented on #19
Close this then maybe, its not super important then.

[2016-10-17 19:36] #27 closed, assigned to nobody

[2016-10-17 20:11] joshuamorton commented on #7
bump, no longer blocked.

[2016-10-18 13:31] irapha opened #33 "Formalize hardware features of car"
This includes...
- measuring `wheel_base`
- re-measuring `wheel_circumference` (the rosparam we have was taken from buzzmobile-old)
- re-measuring `max_steering_angle`
- considering changes to the way we compute `travel_distance`

---

About the last point, right now, `travel_distance` is a value that is a "good enough" approximation of the distance travelled per tick. In buzzmobile-old, this was

[2016-10-18 14:03] #19 closed, assigned to kpberry

[2016-10-18 23:15] joshuamorton commented on #33
However, we do potentially have a complication because we (will soon) have brakes and those can make our real world speed not a direct function of our motor controller. It would be nice to have something (PID, Optical flow, a magnet attached to a tire, kalman filtering, etc.) to give us a real world feedback on speed so we don't have to guess.

Alternatively, as a stopgap, we can try and do someth

[2016-10-18 23:26] irapha commented on #24
This involves:
- adding `bool brake` to `CarPose.msg`, but I believe that was done already.
- Make `steering.py`'s tentacle calculation use a reasonable thickness, not just a single pixel width
  Please note that 'reasonable thickness' might mean calculating how many pixels BM is wide (a measurement we do not currently have) and change the mask creation for that number of pixels.
  (this might be

[2016-10-18 23:45] irapha opened #34 "Node namings"
`sense/inputer/repl.py` -> `sense/inputer/inputer.py`
`lidar_node` should be `lidar_to_frame`

[2016-10-19 02:09] irapha commented on #24
The list above is inacurate. Someone ping me about updating it tomorrow please

[2016-10-19 02:12] dacohen opened #36 "Fix Hardware eStop"
The Arduino should know if the car is e-Stopped. Right now something is disconnected. Debug in conjunction with RJ if necessary.

[2016-10-19 02:46] irapha commented on #33
I'd say we come up with an odometry solution to make our tentacle
predictions more accurate after mvp. Can you make issue about that maybe?
On Tue, Oct 18, 2016 at 19:15 Josh Morton notifications@github.com wrote:

[2016-10-19 03:02] irapha commented on #28
This issue includes MUX node

[2016-10-19 03:08] irapha opened #37 "READMEs in every major folder"
Explaining what goes in the folder, and node-specific explanations, instructions and caveats

[2016-10-19 03:18] irapha commented on #24
Updated the comment

[2016-10-19 03:20] irapha opened #38 "Discuss acquisition of dedicated car laptop"
@joshuamorton @dacohen please chime in

[2016-10-19 03:24] irapha opened #39 "Prune repo of unused things"
Such as two of the `image_const` nodes (we only need one, and it should arguably live in `tools`).
Or even the `lane_detector`, which we are scraping for the future `road_detector` node aka agencynet

[2016-10-19 03:24] irapha opened #40 "Road detector"
Create tensorflow models for road detection

[2016-10-19 04:41] joshuamorton opened #41 "Implement Real world Odometry"
Following discussion in #33, we need some way to get real world motion to help with planning.

[2016-10-19 04:43] joshuamorton commented on #39
Ehh, I agree with the first part of this (redundant stuff), but the whole point of buzzmobile was to potentially have various ways of doing things, and use it as a testbed for stuff.

[2016-10-19 04:43] joshuamorton commented on #38
For reference, RJ can't give us theirs after some discussion.

[2016-10-19 04:44] irapha commented on #39
I'd argue those can happen in branches but master should be cleaner

[2016-10-19 04:47] joshuamorton commented on #39
Depends, there's value in being able to test multiple things at once,
though I guess if you're smart enough with git you can merge non-branches
into each other to get that effect. Worth weighing in mind in any case.

On Wed, Oct 19, 2016 at 12:44 AM Raphael Gontijo Lopes <
notifications@github.com> wrote:

[2016-10-19 05:27] irapha opened #42 "Properly fix battery"
It disconnected again today, and I'm worried I might not be connecting it properly, so I'd like to get someone else fix it.

[2016-10-19 14:08] coletaylor788 opened #43 "Add 1-way coupling on rear-axle"
The chain makes clicking noises occasionally as driving straight and clicks very quickly when turning sharply. It doesn't really sound right.

[2016-10-19 14:09] coletaylor788 opened #44 "Connect a Controller via Bluetooth"
Get a controller, PS4, PS3, etc. working with the ROS Node over bluetooth.

[2016-10-19 14:10] coletaylor788 commented on #16
Need to revise the steering code to adjust it to the actual turning radius of the car. The joystick is too sensitive right now.

[2016-10-19 14:11] coletaylor788 opened #45 "Document Instructions to Run the Car"
Document how to start up ROS, turn on and enable the car, and get it to drive.

[2016-10-19 14:13] coletaylor788 opened #46 "Fix if statement for estop in Arduino code"
if(digitalRead(estop_pin) == HIGH) is never evaluating to true, even when the estops are disabled. Since this never evaluates to true, the car never moves. Commenting this if statement allows the car to run but it was likely important and should be fixed. Here is the comment from the code:

/\* Only run the controllers if the motors are enabled.
- This prevents the controllers ramping up while the

[2016-10-19 14:26] irapha opened #47 "Move nodes to different folders"
`buzzmobile/mission_control/route_mapper.py` -> `buzzmobile/route_mapper/route_mapper.py`

@coletaylor788 I want your opinion on this:
`buzzmobile/sense/controller.py` -> `buzzmobile/plan/controller.py` (or `process/`)
Mainly because `controller` outputs a `CarPose`, so it does the planning

[2016-10-19 14:30] irapha commented on #46
For more context, this e-stop seems to be connected to serial port 6 on the arduino, which we were unable to trace to a hardware switch. I believe there exists one though, we need to check again

[2016-10-19 14:34] irapha commented on #43
The situation on this seems to be that, the way the chain is currently attached, the car cannot move faster or slower than what the motor is moving at, otherwise pressure is put on the motors by the chains (it's a good thing the chains will break before the motor does).

So the fix for this is to add a 1-way coupling on the rear-axle. But this means the car won't be able to go on reverse. So discu

[2016-10-19 14:51] irapha opened #48 "Consider removing horn_node"
Currently, we have no horn. But with the assumption that we will get one (this is pending discussion):

Shouldn't `car_interface` also process `CarPose` for handling turning horn on and off? Why do we need a separate node and separate message simply to say "horn is on/off", when the `CarPose` will already encode this information? (and if it doesn't currently encode it, it should shouldn't it?)

[2016-10-19 16:11] irapha commented on #25
Done, available on the Agency's public drive:

https://docs.google.com/drawings/d/1Lryui91lSutyC1TQhDmWI3JqDfefNB9E9RoSaBPHhcE/edit?usp=sharing

[2016-10-19 16:11] #25 closed, assigned to irapha

[2016-10-19 17:06] coletaylor788 commented on #48
I agree, it seems unnecessary. It is just that car_horn was a node ported from buzzmobile_old. Not sure if there was some reason for breaking it out separately last time.

[2016-10-19 17:06] irapha commented on #28
This issue also includes a way for us to visualize current state in `mission_control`.

[2016-10-19 17:08] coletaylor788 commented on #47
plan seems best to me. It isn't doing much processing.

[2016-10-19 17:09] iRapha commented on #47
sg.

[2016-10-19 17:39] irapha opened #49 "Find a way for inputer node to auto start in mission control shell"

[2016-10-19 18:01] irapha commented on #36
See discussion in #46 as it relates to this issue

[2016-10-19 20:07] joshuamorton commented on #25
Convert to a .dot or .pdf and add to github?

[2016-10-19 20:09] joshuamorton commented on #42
(do we need to buy electrical tape for this)

[2016-10-19 20:19] irapha commented on #42
Yes, but it also involves screwing the ends of the cable together to the battery again. I thought I had done it properly with a shitty screwdriver but I guess I haven't..

[2016-10-19 20:21] irapha commented on #25
Instead I added the image to the readme

[2016-10-19 20:29] irapha opened #50 "Add opencv3 to deps in package.xml"
And remove install instructions from readme

[2016-10-20 12:40] irapha commented on #50
Also remove from `travis.yaml`
https://github.com/gtagency/buzzmobile/blob/master/.travis.yml#L20

[2016-10-20 12:50] irapha opened #51 "Consider adding pylint to project and travis"

[2016-10-20 13:53] irapha commented on #11
As a note, it seems ros_launch does not guarantee that nodes will be launched in any order, so creating these launch files should not be super intensive

[2016-10-20 13:55] irapha commented on #49
Might not be possible as of yet; discussion here: https://github.com/ros-visualization/rqt_common_plugins/issues/296

[2016-10-20 14:21] irapha commented on #47
Update: I just realized that
`buzzmobile/route_mapper/route_mapper.py` is already in it's correct place. So as soon as @coletaylor788 merges #31, with `buzzmobile/plan/controller.py`, we can close this issue.

[2016-10-20 16:06] coletaylor788 commented on #24
@iRapha what do you mean by empty CarPose? Currently I am setting brake to true and velocity to 0. I am leaving the other inputs (steering angle and horn) as is. i.e. If you pressed brake and horn at the same time, it would brake and honk. Any concerns with that approach?

[2016-10-20 16:08] irapha commented on #24
No concerns. That's exactly what I meant by empty
On Thu, Oct 20, 2016 at 12:07 Cole Taylor notifications@github.com wrote:

[2016-10-21 03:00] coletaylor788 commented on #16
Code is pushed to actuator branch. Now should have full support. @iRapha I define a constant MAX_TURNING_ANGLE in the file to be 30 degrees. 1) does that sound about right? 2) Would it be better to make a global header file where we can store all these global constants? That way it would be easier to change if the hardware changes.

[2016-10-21 03:08] irapha commented on #16
The `max_steering_angle` is already defined globally in the `constants.yaml`. You can use it as a rosparam:

`rosparam load buzzmobile/buzzmobile/constants.yaml`

Then in rospy you do: `rospy.get_param('max_steering_angle')` and in roscpp you do something like:

[code]

As a note, currently, the value in `constants.yaml` is 1.0 rads. That is too large. I also think 0.52rad (30deg) is large. I thin

[2016-10-21 17:09] #34 closed, assigned to irapha

[2016-10-21 17:09] #50 closed, assigned to irapha

[2016-10-21 17:09] #39 closed, assigned to irapha

[2016-10-21 20:22] irapha commented on #41
This will probably be much more easily done through some hardware that gives us a callback. Pending discussions.

[2016-10-21 20:31] irapha opened #54 "Use dynamic breaking_distance"
`steering.py` should not be using a rosparam `breaking_distance`, it should calculate a breaking distance based on the current speed and other features of, say, the motor.

This will probably be something to figure out when we have a real-world odometry interface. See #41

[2016-10-21 21:44] irapha commented on #24
I started this on the `breaking` branch, sorry for the unfortunate branch name. Todos include:
- debugging steering because the tentacle being picked it too long. I believe this has to do with the `travel_distance` rosparam being too large.
- test braking functionality with new image_consts

[2016-10-21 21:54] irapha commented on #24
Just updated travel_distance, and that's fixed now. I'm gonna create some test images (or run the lidar bag file we have) and see how it does, then create a PR

[2016-10-21 22:17] irapha opened #55 "lidar_to_frame crashes when points are infinite distance"
See for yourself by playing the following bag from the Agency drive:
`stationary-one-moving-one-static-pedestrian.bag`

[2016-10-21 22:23] irapha commented on #24
Testing blocked by #55

As a note, another thing that's needed here is updating the architecture image.

[2016-10-22 15:39] irapha commented on #50
Turns out that `opencv3` is a special dependency. According to http://wiki.ros.org/opencv3, you shouldn't put it as a dependency in your `package.xml` (it will fail, and this is why our travis builds have been red). Instead, you should depend on `cv_bridge` or `image_geometry`. Depending on one of those two keys transitively makes you depend on `libopencv-dev` on Jade and below, or `opencv3` on Ki

[2016-10-22 17:41] irapha opened #58 "Make steering.py bias towards tentacles that deviate less from heading"
if two tentacles have the same score, the one with the smallest angle wrt to the current heading (0 rad for now, odometry heading in the future) should be picked.

[2016-10-23 20:06] #55 closed, assigned to kpberry

[2016-10-23 20:23] irapha opened #59 "steering and lidar_to_frame OOM"
If you run image_const gps_model,  a lidar bag, lidar_to_frame, frame_merger, steering, some of get Killed because they go OOM sometimes. We need to investigate why.

[2016-10-23 20:32] irapha opened #60 "Make sure projector uses correct dimensions for image and chessboard"
The chessboard has to have it's size in the final image defined by the `pixels_per_m` param and by the real world size of the chessboard (which can be a param too).

Additionally, the projector node has to use the `image_height` and `image_width` rosparams.

[2016-10-23 21:12] irapha commented on #59
I think this was fixed in master by setting image_width and image_height to a reasonable size.

[2016-10-23 21:12] #59 closed, assigned to nobody

[2016-10-23 21:17] dacohen commented on #33
Front Axle to Rear Axle Distance: 2.032 m
Left Wheel to Right Wheel Distance: 1.3716 m

[2016-10-23 21:30] kpberry opened #61 "Make setup.py file in project root"

[2016-10-23 23:36] irapha opened #62 "lidar_to_frame still OOMs"

[2016-10-23 23:37] irapha commented on #24
Last break test to be run is using `some_lidar_data.bag`. This is blocked by #62.
Once that test is run, I'll make the PR.

[2016-10-24 00:07] irapha commented on #11
We also need to make sure we know how to log information to the launch file's output. Because I don't think it's just `rospy.loginfo` and this is how all of our code is logging things currently.

[2016-10-24 00:32] irapha commented on #60
Related to #3

[2016-10-24 03:44] joshuamorton commented on #61
I started this on a (now deleted) branch. I can push it again as a starting point if you'd like.

Also what's the goal of setup.py in this case

[2016-10-24 03:48] joshuamorton commented on #38
This discussion should be partially tabled until next semester, and we may want some input from Matt/RJ in terms of what some good low power or self-poweered computing hardware options would be, or if we should just requisition a laptop. Otherwise, we can probably get something budgeted in the Spring maybe.

[2016-10-24 03:51] irapha commented on #61
The goal is to install python deps automatically. Sorry if I deleted your branch, I thought I was only deleting stale branches. In any case, @kpberry got started on this with some of our real deps in `launch` branch

[2016-10-24 03:53] irapha commented on #38
I guess all our tests will have to run in the shitty VMs then xD

[2016-10-24 03:53] joshuamorton commented on #61
No, I'm pretty sure I deleted it a while back (and my goal was for a ros package, so different goals there I think).

[2016-10-24 03:55] joshuamorton commented on #61
On second thought, can we (either here or in another issue) change this to "automate the deployment process" such that we factor out everything into an install.sh that runs setup.py, etc. and so that you can git clone and ./install.sh and run. This way we have a combined deploy process across CI, live environment, and dev environments, that's really easy to use.

[2016-10-24 03:57] irapha commented on #61
What do you mean a ros package? We still have `package.xml`, but that's not a python thing. Oh do you mean that the goal was to make all of buzzmobile one package so that relative imports would work? I don't think we need that anymore because there aren't shared deps, and shared constants are rosparams now.

I agree that deployment needs to get better. Can you add a low-priority issue for Spring C

[2016-10-24 04:07] joshuamorton opened #64 "Make deployment similar on all platforms"
Following some discussion in #61, it might be better if we factored out parts of the travis ci build script into a `install.sh`, so that

[code]

would install system dependencies, run `setup.py`, install rosdeps, etc. and allow deployment to be done the same way across all systems.

[2016-10-25 00:09] #24 closed, assigned to coletaylor788, irapha, williamsam1

[2016-10-25 00:52] irapha opened #66 "We have no horn"
:(

[2016-10-25 00:52] irapha commented on #66
When/if this happens we'll open another issue for the horn software

[2016-10-25 18:34] joshuamorton commented on #61
Exactly, that's what I mean. And yea.

On Sun, Oct 23, 2016 at 11:57 PM Raphael Gontijo Lopes <
notifications@github.com> wrote:

[2016-10-25 18:53] joshuamorton commented on #38
For now :/

On Sun, Oct 23, 2016 at 11:53 PM Raphael Gontijo Lopes <
notifications@github.com> wrote:

[2016-10-25 23:12] irapha commented on #66
Should be called `dootdoot.py`.

[2016-10-25 23:38] #58 closed, assigned to nobody

[2016-10-25 23:41] coletaylor788 commented on #47
I moved controller.cpp to plan/controller/src/

[2016-10-25 23:42] coletaylor788 commented on #47
Closed by PR #31

[2016-10-25 23:42] #47 closed, assigned to coletaylor788, irapha

[2016-10-25 23:43] coletaylor788 commented on #45
Closed by PR #31

[2016-10-25 23:43] #45 closed, assigned to coletaylor788

[2016-10-25 23:43] coletaylor788 commented on #28
MUX node is done. Still needs visualized in `mission_control`

[2016-10-26 00:06] irapha commented on #28
I'll make a new issue for visualizing it and close this one

[2016-10-26 00:06] #28 closed, assigned to coletaylor788

[2016-10-26 00:07] irapha opened #69 "CarState needs to be visualized in mission_control"

[2016-10-26 00:07] irapha commented on #20
MVP for this is starting with a simple `pytest` that is run from travis.

[2016-10-26 00:28] irapha opened #70 "Don't update fix in bearing if last_fix is within epsilon of new_fix."
Following discussion on https://github.com/gtagency/buzzmobile/pull/65#discussion-diff-84809556R3

If the new_fix is within a small epsilon of the last_fix we kept track of, we don't want to keep this new_fix.

[2016-10-26 01:00] irapha commented on #46
I believe you fixed this in #31, right, @coletaylor788?

[2016-10-26 01:01] coletaylor788 commented on #46
No. I un-commented the code but the problem is still there. Either the if statement is checking the wrong thing or there is some hardware problem where that pin is not getting a HIGH signal when the e-stops are disabled.

[2016-10-26 01:07] irapha commented on #46
We have a separate issue ( #36 ) for tracking the hardware problem. This issue is just for the code.

[2016-10-26 01:14] coletaylor788 commented on #46
Okay. I'm not sure if it is a hardware or a code issue. If it isn't a code issue, then this could be closed.

[2016-10-26 01:41] irapha commented on #46
We are assuming it's a hardware issue. If when we close #36 we find nothing wrong with hardware, we will reopen this.

[2016-10-26 01:41] #46 closed, assigned to coletaylor788

[2016-10-26 01:49] irapha opened #72 "Make queue_size=1 everywhere"
Having `queue_size=0` make ros use an unlimited sized queue, which just explodes your computer's RAM 🙃. If you think you have a memory leak because you're going OOM, maybe you just have this issue.

@kpberry is curently fixing this on the `launch` branch. I'm mainly making this issue for future reference.

[2016-10-26 01:54] irapha commented on #62
actual issue that was happening was #72

[2016-10-26 01:55] diptodip commented on #62
this is fixed now, right? should it be closed

[2016-10-26 01:55] irapha commented on #48
@coletaylor788 didn't you fix this also?

[2016-10-26 01:56] diptodip commented on #13
doneso bby

[2016-10-26 01:56] #13 closed, assigned to diptodip

[2016-10-26 01:58] diptodip commented on #66
🎺

[2016-10-26 01:58] irapha commented on #13
For reference this was closed in #65

[2016-10-26 01:58] irapha commented on #7
Also closed in #65

[2016-10-26 01:58] #7 closed, assigned to diptodip

[2016-10-26 01:59] #17 closed, assigned to dacohen, irapha

[2016-10-26 01:59] irapha commented on #17
Closed in #31

[2016-10-26 02:01] irapha commented on #62
Fixed but not merged

[2016-10-26 02:01] joshuamorton commented on #62
Does the fix include "Closes #whatever" in the commit message? If not, can we amend?

[2016-10-26 02:02] irapha commented on #62
The PR's desc has "Fixes #whatever"

[2016-10-26 02:04] coletaylor788 commented on #16
Still need to switch to constants.yaml

[2016-10-26 02:04] coletaylor788 commented on #48
Probably fixed but not tested

[2016-10-26 02:06] irapha commented on #48
We'll we can't actually test the horn at all anytime soon because we won't have a physical horn (issue tracked in #66 ). I'll close this issue and whenever we get a horn I'll make a new issue to check implementation.

[2016-10-26 02:06] #48 closed, assigned to coletaylor788

[2016-10-26 02:07] irapha commented on #16
Oh, right, sorry. Lmk when you have a PR for that.

[2016-10-26 02:49] irapha commented on #72
The PR fixed some of these, but not all. @kpberry is working on a fix for the rest in a new PR

[2016-10-26 02:49] irapha commented on #62
Fixed in #71

[2016-10-26 02:49] #62 closed, assigned to kpberry

[2016-10-26 02:49] #61 closed, assigned to kpberry

[2016-10-26 03:54] #72 closed, assigned to kpberry

[2016-10-26 03:55] kpberry commented on #72
plz stay closed this time

[2016-10-26 04:13] irapha opened #74 "Rename controller_node"
`controller_node.cpp` => `controller.cpp`

and the actual name of the node:

`controller_node` => `controller`

[2016-10-26 04:18] irapha opened #75 "Comment out unused horn_subs in car_interface"
https://github.com/gtagency/buzzmobile/blob/master/buzzmobile/drive/car_interface/src/main.cpp#L15 and https://github.com/gtagency/buzzmobile/blob/master/buzzmobile/drive/car_interface/src/main.cpp#L30

We are going to use horn in CarPose so we shouldn't need this subscriber

[2016-10-26 14:44] irapha commented on #54
blocked by #41

[2016-10-26 15:21] joshuamorton commented on #64
I've started on this, basic workflow will be
- run `install.sh`
  - runs `python3 -m venv buzzmobile`, creating a virtualenv
  - install tensorflow from wheel
  - install opencv from source
  - install the ros dependencies
  - run setup.py
    - install all the python dependencies
  - run `rosdep`
  - run tests?

Current biggest issue is getting OpenCV to work (efficiently), because it doesn't pla

[2016-10-26 15:27] irapha commented on #64
Hm. travis is currently doing most of those, including opencv. For a fuller list of things `install.sh` should do, maybe you can look at `.travis.yml`?

[2016-10-26 15:30] irapha opened #78 "Automatically figure out when we should be dropping a fix in bearing node"
Currently, we are just using a distance threshhold. Ideally, we'd want to automatically drop a "new_fix" iff we believe it's not improving our current calculation for bearing.

https://github.com/gtagency/buzzmobile/pull/77/files#diff-3d31e05db1c95ca0eece5af0f4f7064eR60

There are many ways this can be done, including setting a decay rate for previous fixes. Or we could do something fancier like a

[2016-10-26 15:55] irapha opened #79 "We have no brakes"
:(

[2016-10-26 15:56] irapha commented on #43
I'm gonna rename this bug, and create a new one for tracking the fact that we have no brakes ( #79 )

[2016-10-26 15:57] irapha opened #80 "Discuss acquisition of Solid State Lidar"

[2016-10-26 15:58] irapha opened #81 "Discuss acquision of better motor"
(big hardware change. So we can drive uphill)

[2016-10-26 15:58] irapha opened #82 "Discuss acquision of the GT DARPA challenge car"
:o

[2016-10-26 17:00] irapha opened #83 "Remove old code from interpolate"
https://github.com/gtagency/buzzmobile/blob/master/buzzmobile/process/gps_mapper/interpolate.py#L58

[2016-10-26 17:02] irapha opened #84 "Use rosparam for road_width in gps_mapper"
I can't find how the image is actually being drawn in `interpolate.py`'s `xwindow()` so I don't know how it's defining the road width to be, but I believe this should be a rosparam that we can set (in meters)

[2016-10-27 15:21] irapha opened #87 "Convert everything to python 3"

[2016-10-27 15:22] irapha commented on #87
Blocked by #64, which @joshuamorton is working on and trying to get opencv3 installed while at the same time not building from source.

[2016-10-27 16:43] diptodip commented on #83
Let's not do this until we have everything tested and working.

[2016-10-27 17:30] irapha opened #88 "Consider having different travis builds for testing and linting"
Using travis build matrix:
https://docs.travis-ci.com/user/speeding-up-the-build/
https://docs.travis-ci.com/user/customizing-the-build/#Build-Matrix

[2016-10-27 17:47] irapha opened #89 "Freeze dependencies"
https://github.com/gtagency/buzzmobile/blob/master/buzzmobile/setup.py#L11

We want to freeze the requirements as such:

http://www.kennethreitz.org/essays/a-better-pip-workflow

The idea is that we depend on a specific release of each of our dependencies, not on the latest release. When those dependencies get updated, they won't break our code.

We'd ideally freeze all our deps, not just python's

[2016-10-27 18:11] irapha commented on #11
@kpberry What's the status on this? Part of it was done on PR #71 right? Did you separate test launch files (with databags) from real-hardware launch files? Do we have a master car launch file already?

[2016-10-27 21:34] irapha commented on #20
Also use coveralls or something for testing coverage (eventually... this will not be anytime soon)

[2016-10-27 23:16] joshuamorton commented on #89
I don't know that there is a way to do that for those deps, looking at how catkin manages deps.

[2016-10-28 01:21] irapha commented on #87
Since @joshuamorton figured out that a `.whl` exists for cv3, I'm unblocking this >:)

[2016-10-28 23:54] irapha commented on #44
Once this is figured out, please freeze the version of `ds4drv` in the `setup.py`

[2016-10-29 17:55] irapha commented on #69
I think the best way to do this is _not_ by subscribing to `car_state`. Instead, add a `String mode` to `CarPose`, populate it when publishing `auto_car_pose` and `manual_car_pose`, and listen to whatever the `car_pose_mux` outputs. The reason for this is: If controller sends a `car_state` message that for some reason is not used/received by the mux, but is processed by mission_control, then sudde

[2016-10-29 17:56] irapha commented on #43
After we have this we can add a `NEUTRAL` CarState so we can push the car without fear of breaking chain or motor.

[2016-10-29 18:30] #64 closed, assigned to joshuamorton

[2016-10-29 18:30] #88 closed, assigned to irapha

[2016-10-29 18:30] #89 closed, assigned to joshuamorton

[2016-10-29 18:37] irapha commented on #88
Ended up using DoCIF, not travis matrix. Ditched travis altogether

[2016-11-01 23:00] irapha opened #92 "Standardize globals dict in all rospy files"
Following discussion on #77

Whenever we create a dict to store globals, have them be like

[code]

[2016-11-01 23:05] #70 closed, assigned to williamsam1

[2016-11-01 23:14] irapha commented on #75
Not comment out, delete. Sorry my bad

[2016-11-01 23:19] irapha commented on #33
`max_steering_angle` eyeballed to about 15 deg

[2016-11-01 23:21] irapha opened #95 "Publish measured carpose from odometry"

[2016-11-01 23:22] irapha commented on #54
Also use dynamic travel_distance from measured odometry car pose #95

[2016-11-01 23:22] coletaylor788 commented on #16
Closed by #93

[2016-11-01 23:22] #16 closed, assigned to coletaylor788

[2016-11-01 23:27] irapha commented on #36
Daniel says that the wire just isnt well connected (which needs to be fixed), we're testing tonight to see if it works when we touch it a bit

[2016-11-01 23:32] irapha commented on #20
~~Use gazebo for things
http://gazebosim.org/tutorials?cat=guided_i&tut=guided_i1~~

e: this part is now being tracked here: #112

[2016-11-01 23:46] #75 closed, assigned to williamsam1

[2016-11-01 23:46] #74 closed, assigned to williamsam1

[2016-11-02 00:26] #84 closed, assigned to diptodip

[2016-11-02 00:44] #92 closed, assigned to williamsam1

[2016-11-02 00:51] irapha commented on #33
`road_width` ~8feet (needs conversion to meters)

[2016-11-02 00:51] irapha commented on #33
~~`min_fix_distance` can probably be bigger than 0.01 meters (that might be in gps' margin of error)~~

This is outdated. Related issue: #78

[2016-11-02 00:52] irapha commented on #33
`travel_distance` will be calculated with odomcallback #41
`num_points_in_tentacle` will be updated to use that ^ correctly, or can be done to say "total travel needs to be 6 meters, so do as many points as needed, except have a max number of points"

[2016-11-02 00:56] irapha commented on #33
`breaking_distance` will be based on odometry too #54

[2016-11-02 00:57] irapha commented on #33
`buzzmobile_width` ~= 66 in (convert to meters)

[2016-11-02 02:32] kpberry opened #101 "Fix image format issues for inputs to frame_merger"

[2016-11-02 13:59] irapha commented on #41
So I _believe_ this works, but we weren't able to test it yesterday due to time constraints and other issues. Therefore I'm keeping the issue open until we have it fully tested. Might be even easier when we have merged #100

[2016-11-02 14:00] irapha commented on #36
It worked. I'm gonna close this issue and we reopen it if we encounter problems with estop later on

[2016-11-02 14:00] #36 closed, assigned to sastorer

[2016-11-02 14:01] irapha commented on #41
Once we have tested it, we can work on the issues that _use_ the odometry to do things

[2016-11-02 14:03] irapha opened #102 "Car State goes from START to AUTO"
I'm pretty sure this happened last night. Worth doing some more tests about. If it is actually happening, we might want to look at https://github.com/gtagency/buzzmobile/blob/master/buzzmobile/plan/controller/src/controller.cpp#L82 . This `if` might be failing for one reason or another.

[2016-11-02 14:05] irapha commented on #16
Just a note that we also tested this :)

[2016-11-02 14:07] irapha opened #103 "Update controller node in architecture image"
Architecture has to have controller. Not car interface. And it's cpp.

Although I believe car_interface is *also* a node we need to run, correct? I'll take a look at these later and see exactly what the interactions are there.

[2016-11-02 14:08] irapha commented on #83
So we tested this, right @diptodip ? Should we close this issue?

[2016-11-02 15:02] irapha opened #104 "Make max manual speed much smaller (not 1.0)"
Maybe have a rosparam for `max_speed`? If so, also needs to be used in wherever the auto speed is calculated (it's currently hardcoded as 1.0)

Set it to 0.1 or maybe even less.

[2016-11-02 15:25] irapha commented on #101
Things included in this issue are some changes that were made in `odom_launch_test` but never had a PR for them (because we were debugging as we were testing).

https://github.com/gtagency/buzzmobile/compare/odom_launch_test?expand=1#diff-77edad01ecd5708046b743efdf602ef7R18

https://github.com/gtagency/buzzmobile/compare/odom_launch_test?expand=1#diff-9e78fa7700de7582ce3cc4cf9ca17dd8R61

This last

[2016-11-02 21:09] irapha opened #108 "Fix circleci to report catkin_make errors"
Following events in #105 and #107

#105 PR broke things but circleci passed failed to report that catkin_make failed.

https://circleci.com/gh/gtagency/buzzmobile/152?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

[2016-11-03 00:57] #103 closed, assigned to irapha

[2016-11-03 17:51] #108 closed, assigned to irapha

[2016-11-03 19:23] #95 closed, assigned to dacohen, diptodip

[2016-11-04 19:31] ebarnette commented on #42
I'm going to the shop tonight so I'll take it apart and re-heat shrink it.

[2016-11-04 19:32] joshuamorton commented on #104
Putting it in writing: 1.0 may not (probably does not) mean 1.0 m/s, but instead 100% of maximal output.

[2016-11-04 19:39] ebarnette opened #112 "Implement Simulation Using ROS and Gazebo"
- [x] Add URDF files using [1] but with ackerman's steering
- [ ] Be able to access models' joints from a pytest
- [ ] Create a test world and load it with pytest
- [ ] Create a mock test with pass conditions (but actuators are within the test)
- [x] Create translation layer from `car_pose` to gazebo joint actuators.

Low priority:
- [x] Get CAD from RJ for visual elements of the simulation

Resou

[2016-11-04 19:42] irapha commented on #112
This is a partial duplicate of #20 but I'll let Josh's PR ( #111 ) close that issue and keep this one because you have checkmarks

[2016-11-04 19:44] irapha commented on #104
Updated the issue to remove m/s

[2016-11-04 19:45] ebarnette commented on #112
Ah, I looked to see if there would be any duplicates. I missed that one because it was buried under other things that that issue covers. We can keep track of just Gazebo things here for greater clarity.

[2016-11-04 21:16] joshuamorton opened #113 "Investigate test flakyness"
When writing ROStests, it is necessary to spin up roscore and ros nodes and have them communicate. This requires multiple system threads to run in sync. There can be race conditions, timing errors, and deadlocks as a result of various communication issues with this. It would be nice if we developed some tooling to prevent/mitigate that kind of problem.

[2016-11-04 21:17] #20 closed, assigned to irapha

[2016-11-04 21:19] irapha commented on #113
Does catkin_make test handle part of this? Should we consider going through the hassle of setting up catkin tests?

[2016-11-04 21:21] joshuamorton commented on #113
I don't see how it could, it just runs the test code. Their examples run
with catkin_make include sleeping in the python code. That's where the
flakyness lies.

On Fri, Nov 4, 2016 at 5:19 PM Raphael Gontijo Lopes <
notifications@github.com> wrote:

[2016-11-04 21:27] irapha commented on #113
Actually part of it would fix flakyness, just not the catkin_make part.

What we need to do is put the test nodes in a rostest file, which is similar to a roslaunch file. Then test using the `rostest` command, not the `pytest`. This guarantees that roscore will be running (because it works just like a roslaunch command).

https://stackoverflow.com/questions/26482791/trigger-python-rostest-with-cat

[2016-11-04 21:29] joshuamorton commented on #113
Roscore running or not isn't affecting flatness, the issue is spinning up
test nodes inside the Python code when actually running the tests.

On Fri, Nov 4, 2016, 17:27 Raphael Gontijo Lopes notifications@github.com
wrote:

[2016-11-04 21:57] irapha commented on #113
Hm. If you're talking about `node = roslaunch.core.Node('buzzmobile', 'inputer.py')` I thought you could them up in the rostest file, and set a param to respin it up for each test. Basically let rostest handle that for you. I can't find that a param like that exists, so an alternative is to do `assert rosnode.rosnode_ping("inputer", max_count=5)`, to at the very least see if the node went up. It d

[2016-11-04 22:52] joshuamorton commented on #113
I'm going to investigate a couple things
1. spinning up roscore within python for each test
2. Check for roscore to be running before each test begins
3. some utility methods to do things like a thirty second timeout, but with callbacks that will end the test as soon as it is done
4. Some wrappers to make sure nodes are shut down and such correctly.

[2016-11-04 22:54] irapha commented on #113
My main concern is whether these exist and if we can reuse them

On Fri, Nov 4, 2016, 18:52 Josh Morton notifications@github.com wrote:

[2016-11-04 22:56] joshuamorton commented on #113
Well, 2 is like a 1 liners, so more or less yes, we just need to use it, 1 maybe does, but its also low hanging fruit. 3 might exist, and 4 doesn't from what I've seen.

The other problem with using catkin to test is that you seem to lose out on any kind of coverage stats.

[2016-11-07 05:52] #42 closed, assigned to sastorer

[2016-11-07 21:46] #87 closed, assigned to nobody

[2016-11-08 23:02] #69 closed, assigned to dacohen

[2016-11-08 23:07] irapha opened #117 "lidar looked janky"
@kpberry pls investigate

[2016-11-08 23:13] coletaylor788 commented on #102
After starting the nodes manually, the car state appears to function correctly. We should test this again next time we test on the car and look at the "car_state" message as we test.

[2016-11-09 00:07] irapha commented on #112
@dacohen is working on making URDF files

Daniel, you might want to look at [1], [2] and [3] for some ready-made interface for some ackerman's steering models. I can't find ready-made URDF for them, but I'm sure they exist.

[1] http://wiki.ros.org/Ackermann%20Group

[2] http://docs.ros.org/api/ackermann_msgs/html/msg/AckermannDrive.html

[3] https://github.com/jack-oquin/ackermann_teleop

[2016-11-09 00:13] irapha commented on #41
So we have this in the same place, these comment was made in issue #33. They show what things will _use_ odometry

`travel_distance` will be calculated with odomcallback #148
`num_points_in_tentacle` will be updated to use that ^ correctly, or can be done to say "total travel needs to be 6 meters, so do as many points as needed, except have a max number of points"

`breaking_distance` will be base

[2016-11-09 00:21] #33 closed, assigned to dacohen, irapha, williamsam1

[2016-11-12 18:51] #83 closed, assigned to diptodip

[2016-11-12 19:04] irapha opened #122 "Investigate using services for important messages that are published once"
For instance, "destination" can't be missed by `maps_querier`. But it might be published before things are done setting up. I think services fix these issues.

[2016-11-12 19:28] #104 closed, assigned to coletaylor788

[2016-11-12 20:23] irapha opened #124 "Make arduino serial port a rosparam"
https://github.com/gtagency/buzzmobile/blob/master/buzzmobile/drive/car_interface/src/main.cpp#L36 Should take in `/dev/ttyACM0` as a rosparam, like hokuyo_node does.

Furthermore, we can try to see if `/dev/serial/by-id/arduino*` works, then it should automatically translate the port to wherever port the arduino is at. Same for hokuyo.

[2016-11-12 20:53] irapha opened #126 "Make install script failsafe"
If it fails, it's hard to run it again after fixing the issue that made it fail the first time.

The issues seem to be the catkin_init and rosdep init. They fail if the've already been run.

[2016-11-12 21:11] irapha opened #127 "source venv automatically in bashrc"
Change readme and install to make `source ~/catkin_ws/src/buzzmobile/bin/activate` be run at every terminal creation.

[2016-11-12 22:26] diptodip opened #129 "tkinter and cvbridge install"
Need to add cv-bridge and tkinter to install script.

[2016-11-13 01:01] irapha commented on #41
We tried outputting what odometry callback published and we're getting consistent 0s. I think something might be off either hardware or software-wise. we need to look into it.

[2016-11-13 01:08] irapha opened #130 "Car interface takes in acceleration, not speed..."
To be confirmed. But what happened today is:

We set "max_speed" to 0.1 from 1.0. The car became very unresponsive. It'll stop when we tell it to "reverse" but it takes a while to do so.

We believe this issue is because car_pose's "speed" really is interpreted by the arduino / motor as being acceleration.

This is why before I thought the car was going fast, it's because it was jumping to an acce

[2016-11-13 01:09] irapha opened #131 "gps had small road width and should be more gaussianized"
we should double check road_width to be more generous

we should increase the gaussian kernel size

[2016-11-13 01:18] kpberry commented on #117
investigated

fixed

[2016-11-13 03:44] irapha commented on #126
as a note, cole said it seems to be failing when apt-get is run sometimes, because ubuntu might be running apt-get update in the background, which puts a lock in it.

possible solution, tho jank: https://askubuntu.com/questions/132059/how-to-make-a-package-manager-wait-if-another-instance-of-apt-is-running

[2016-11-13 03:46] irapha commented on #129
I added `python-tk` in the install script in the `garage-test` branch already. cv bridge should come installed with the rospy packages, no? I thought it was working before.

question: is this a duplicate of #126 ?

[2016-11-13 03:49] #127 closed, assigned to nobody

[2016-11-13 03:54] irapha commented on #11
@kpberry was this closed today? I think the MVP of launch files is done and merged ( #98 ) in master. Anything moving forward will be modifications that are not included in this issue.

[2016-11-13 03:57] irapha commented on #102
Tested again. I think something in the way we were launching was not letting this work. In either case, I'm pretty sure the last kinks of this issue are fixed in #132.

[2016-11-13 03:58] irapha commented on #126
To test this: create new VM, install buzzmobile, try running a launch file.

[2016-11-13 04:00] irapha opened #133 "Automatically identify Arduino/Hokuyo usb ports"
Maybe there's a way we can pass in `/dev/serial/by-id/usb-Arduino*` and `/dev/serial/by-id/usb-Hokuyo*` instead of `/dev/ttyACM*`?

[2016-11-13 04:02] irapha opened #134 "Steering did not make car swerve around me"
I'm not hurt but this needs to be fixed :)

New databag (`casteerin*.bag`) is in drive. I'll make sure to test and fix this soon.

[2016-11-13 04:03] joshuamorton commented on #126
Alternatively, use `wait` in the install script, this will block until all background processes are finished.

[2016-11-13 04:04] irapha commented on #126
bash files are async???

[2016-11-13 04:08] joshuamorton commented on #126
I'm gonna to with 'maybe', I don't actually think it should be in this case, but if that's the problem, this should be a fix. Unless you mean that the system is auto-updating, but I don't think that's a thing that happens.

[2016-11-13 04:10] irapha commented on #126
Actually I do think it happens. From what we read while trying to fix this
issue, it seems ubuntu might start up apt-get update (or something else
that locks apt-get) at a random point and that can cause the issue we found.

On Sat, Nov 12, 2016 at 11:08 PM Josh Morton notifications@github.com
wrote:

[2016-11-13 04:15] joshuamorton commented on #126
Gross, I didn't find that when I was looking around.

[2016-11-13 04:20] irapha commented on #126
This is the main one we looked at, because the error is the same as what we got:

https://stackoverflow.com/questions/23610628/detecting-avoiding-multiple-apt-get-dpkg-installs

[2016-11-13 04:21] joshuamorton commented on #126
Keep in mind that that fix requires apt-get installing the tool.

On Sat, Nov 12, 2016 at 11:20 PM Raphael Gontijo Lopes <
notifications@github.com> wrote:

[2016-11-13 04:24] irapha commented on #126
Sure, I wasn't suggesting we use the solution in this stackoverflow. I was just showing you that it's most likely that our issue came from a background apt-get process updating databases.

[2016-11-14 07:07] ruyimarone opened #135 "pylint does not enforce naming conventions"
If there is a rospy.init_node('a_name' in a file...
* this line must be in a method called a_name_node()
* this method must be the one called by if __name__ == '_main__': a_name_node() (and I'd also like this if to be inline)
* the module name (= name of file) must be a_name

[2016-11-14 20:34] irapha opened #136 "Namespace things correctly"
Right now, some launch files namespace rosparams, some don't. Some namespace all of our nodes, some not all. We want to be consistent and:

This means changing every `Subscribe('some_msg')` to `Subscribe('/buzzmobile/some_msg')`

But keeping `Subscribe('fix')` because fix is a third party message

[2016-11-14 20:37] joshuamorton commented on #136
semi-blocking #121 based on this.

[2016-11-15 20:59] irapha commented on #134
This was caused by us moving to python3 in code, but not in test (as in, we were running code in python2, because of #126).

Therefore, in steering, we had deleted the very important line:

[code]

This caused all scores be 0, so the car just went forward. I'm making a PR with a temp fix soon.

[2016-11-15 23:38] #134 closed, assigned to irapha

[2016-11-16 01:06] #117 closed, assigned to kpberry

[2016-11-16 03:36] irapha opened #138 "wth is going on with arduino interface's units"
nothing is consistent. daniel is looking into it

[2016-11-16 04:05] irapha opened #139 "activate pylint"

[2016-11-17 23:58] irapha opened #140 "make controller brake like steering does"
Whenever steering wants to brake, it just sets the `pose.brake = True`.

When controller wants to brake, it also sets velocity to be negative.

This issue includes:

- [ ] verifying that car_interface is properly braking when `pose.brake` is set, and velocity is null.
- [ ] making controller's brake interface better, by having a dedicated "brake" button, that sets `pose.brake` to true. AKA: I don'

[2016-11-21 05:51] diptodip opened #141 "Mapping of GPS location with polyline is broken."
Seems like the angles were off.

[2016-11-21 05:53] diptodip commented on #141
The problem wasn't noise but the points being used to calculate the normalized point from the GPS.

(oops)

[2016-11-21 08:35] #141 closed, assigned to diptodip

[2016-11-21 10:22] diptodip commented on #101
Fixed by #132.

[2016-11-21 10:22] #101 closed, assigned to irapha, kpberry, diptodip

[2016-11-22 14:01] #102 closed, assigned to coletaylor788

[2016-11-22 14:19] dacohen opened #144 "Motor Randomly Speeds up When Running at Constant Speed"
This is quite possibly an issue related to the intermittent zero commands being sent to the Arduino. If the commanded speed modulates too quickly, the error will explode, and the output will shoot up as the PID loop tries to correct.

[2016-11-22 14:36] irapha opened #145 "Delay in controller command and motor actuator"
There's a clear delay of about 1.5 seconds between someone pressing a button in the controller and the motor taking action. @dacohen is investigating.

[2016-11-22 14:40] irapha commented on #41
PR #146 temporarily disables odom callback through Serial port. The reason being that we were sending those callbacks at every command received, which was blocking the Serial port half the time. The solution is to send odom callbacks through serial only once every x milliseconds.

[2016-11-22 15:05] coletaylor788 commented on #140
@iRapha The controller node should have a brake button that `sets brake = True` and sets `velocity = 0`. I think the reason we were having to use reverse to brake is because we were actually setting velocity. Since there aren't any brakes on the car and we were setting acceleration to 0, it would just coast to a stop. Let me know if I am missing something.

[2016-11-22 15:18] irapha commented on #140
So I agree with you that's how things should be working, but I think that we need to handle setting the velocity in `car_interface`.

`controller` and `steering` should not care about the hardware details. They should be able to just set `brake = True` and the details about whether we have breaks and are activating those or we don't have brakes and have to set `vel=-maxspeed`. Handling this should

[2016-11-22 18:01] #11 closed, assigned to kpberry

[2016-11-23 00:30] #129 closed, assigned to nobody

[2016-11-23 16:13] irapha opened #148 "Calculate travel_distance with odomcallback"
`travel_distance` will be calculated with odomcallback.
`num_points_in_tentacle` will be updated to use that ^ correctly, or can be done to say "total travel needs to be 6 meters, so do as many points as needed, except have a max number of points"

Currently blocked by odomcallback not working #41

[2016-11-23 16:16] irapha commented on #124
This is a duplicate of #133 so I'm closing it

[2016-11-23 16:16] #124 closed, assigned to nobody

[2016-11-23 16:16] irapha commented on #133
Alternatively, do as #124 suggested and make it a rosparam.

[2016-11-23 23:22] #139 closed, assigned to irapha

[2016-11-23 23:27] #136 closed, assigned to nobody

[2016-11-23 23:27] #130 closed, assigned to nobody

[2016-11-23 23:27] #138 closed, assigned to dacohen

[2016-11-25 23:02] joshuamorton opened #149 "Multiple Launch files is not currently support in testing"
Currently, multiple trying to use `rostest_utils.with_launch_file` for multiple launch files will cause silent errors.

[2016-11-26 00:56] irapha commented on #149
TODO is here: https://github.com/gtagency/buzzmobile/pull/121/files#diff-0b78e1468bd4bce4d2aec5aea89987beR49

[2016-11-26 06:38] #51 closed, assigned to ruyimarone

[2016-11-28 01:59] #113 closed, assigned to joshuamorton

[2016-11-30 05:15] irapha commented on #41
PR #150 reenables odom callback, and fixes it altogether. String formatting in the .ino files were the initial cause of pain, and reading form Serial does not cause blocking issues.

[2016-11-30 16:37] joshuamorton opened #151 "Write Tests"
Tests are a good thing to have.

[2016-12-05 20:44] coletaylor788 commented on #126
As an update, I edited the install script to use a wrapper function for apt-get that waits for other apt-get processes to terminate. It appears to not fail due to apt-get anymore. However, the application still can't be run after preparing the environment this way. I will continue looking into it.

[2016-12-05 20:45] joshuamorton commented on #126
What issue are you hitting after build (on a clean env I assume?)

[2016-12-05 20:45] irapha commented on #126
Sg

On Mon, Dec 5, 2016, 15:44 Cole Taylor <notifications@github.com> wrote:

[2016-12-05 20:46] coletaylor788 commented on #126
@joshuamorton I can't remember exactly (was about a week ago) but I believe they looked like python dependencies.

[2016-12-05 20:46] coletaylor788 commented on #126
I plan on taking another look in the next couple of days to get more information

[2016-12-05 20:51] joshuamorton opened #152 "tf Doesn't work with python3 by default"
You'll need to use tf2 which isn't the default, also this may make gazebo integration more difficult but I don't think so.

Optionally, there is a PR that makes tf py3 compatible, so you could use that.

[2016-12-07 01:49] coletaylor788 commented on #126
Here is a couple of lines from the error that I think summarizes it.

[code]

So it looks like it is looking for pyqt or pyside as the QT binding for RQT (used for mission control). pyqt has a dependency on sip which doesn't appear to be installed and pyside is also missing.

Do you know anything about this and do either of you care which binding is used? It looks like pyqt is the default binding

[2016-12-07 15:02] coletaylor788 commented on #126
@iRapha @joshuamorton

[2016-12-07 15:13] irapha commented on #126
Is rqt still failing to install? We might need to look up how to properly
install it. Maybe there's an rqt_core or something we need to be depending
on.

On Wed, Dec 7, 2016, 10:02 Cole Taylor <notifications@github.com> wrote:

[2016-12-07 15:15] coletaylor788 commented on #126
Yes, the problem is with rqt. I can look further into how to get it installed but want to make sure our app isn't depending on PySide vs. PyQT. Is there one that needs to be used as the binding or is either fine?

[2016-12-07 15:23] irapha commented on #126
I believe neither of those are being explicitly used by us.

On Wed, Dec 7, 2016, 10:15 Cole Taylor <notifications@github.com> wrote:

[2016-12-07 15:30] coletaylor788 commented on #126
Okay, thanks. I will proceed with the easiest way to install rqt then

[2016-12-09 19:46] irapha opened #153 "vel dropping to 0 randomly"
when using controller

[2016-12-09 19:46] #145 closed, assigned to nobody

[2016-12-09 20:53] coletaylor788 commented on #126
As an update, the RQT problems only occur in the virtual environment. If you run it outside the virtual environment, the issue doesn't exist.

[2016-12-09 21:24] irapha commented on #144
@dacohen This is still happening. Except now it is only triggered when we try turning. i.e.: When we try *turning*, not only does it try to turn (as expected) but it also *speeds up* .

[2016-12-09 21:26] irapha commented on #126
This probably means that whatever is installing rqt is doing so outside of the venv.

[2016-12-12 03:31] coletaylor788 commented on #126
As an update, I think the issue may be related to Python 2 vs. 3. If I enter a python3 shell outside of the virtualenv and enter: "from qt_gui.plugin import Plugin", it gives the same import error (Sip and PySide). Howerver, it works from within the python (2) shell.

[2016-12-12 03:38] coletaylor788 commented on #126
Additionally, the import line works in python2 in the virtualenv.

[2016-12-12 03:50] coletaylor788 commented on #126
@iRapha @joshuamorton Are we supposed to be using Python 2 or 3?

[2016-12-12 03:55] irapha commented on #126
Python3. As soon as the install script is confirmed working, we'll all get new VMs and start using python3 only. So whatever is installing pyqt is installing it for py2, which is not what we want. Maybe it's like a flag we need to set for rosdep? Or maybe we need to depend on a different version of rqt so it knows we're using py3?

[2016-12-12 05:47] coletaylor788 commented on #126
Status update at end of night:

When run with python3, it says it is missing sip. After manually compiling and installing sip with python3 (pip can't install it), it said it was missing PyQt. I installed and compiled it from source as well which removed that error. Now the error is "basestring is not defined". basestring is something only defined in Python2. It starts with rqt_gui which calls a me

[2016-12-19 18:29] irapha commented on #126
So there's a slight chance we are going to have to move things to python2 (which should only be a matter of changing install script, since all the code has been locally tested in py2 anyways). I'm deferring this to @joshuamorton pls dont abandon us pls

[2016-12-19 22:41] joshuamorton commented on #126
Indeed, it should be mostly issues in the install script, everything else should be backwards compatible (also `yield from` isn't supported in 2.7).

[2016-12-20 00:26] coletaylor788 commented on #126
Just let me know when y'all decide which version we plan on using. If we go with python 2, I will update the script as it should be easy to get working. Otherwise, once it is decided, I can keep troubleshooting the issues with python 3. There seems to be incompatibilities with rqt and python 3 where fixing one issue is just revealing another.

[2016-12-20 00:29] joshuamorton commented on #126
Do py2, it'll be easier.

I hate ros.

On Mon, Dec 19, 2016, 19:26 Cole Taylor <notifications@github.com> wrote:

[2016-12-20 00:44] coletaylor788 commented on #126
Okay, I'll work on it when I get time.

[2017-01-03 23:52] joshuamorton commented on #152
Nevermind, after looking into this, best plan is to revert to python2

[2017-01-13 22:22] joshuamorton opened #154 "Install tensorflow via pip"
Tensorflow recently hit 1.0 alpha, one of the new features is installation through pip. When that finishes (and our install script is working all the way) we should upgrade to pip install instead of our current incantation.

[2017-01-15 22:51] irapha opened #156 "Cache the installation build with DoCIF"
DoCIF has the option to cache the installation build with Docker, which cuts down on ci checks' compute time. We'd like to enable that.

This issue is blocked on us having used the install script for development for a while, to make sure the install is working properly, and avoid having to deal with a bad install being cached.

[2017-01-15 22:57] joshuamorton commented on #156
I was thinking about this, and I reached out to @jgkamat yesterday. However I'm not sure its an issue as long as we aren't building PySide, pyqt4 installs quickly and our recent builds are ~8 minutes (which is faster than, for example robojacket's roboracing-software build, which is a similar project). While its a thing to think about, I'm by no means worried yet.

In any case, the method seems to

[2017-01-15 22:59] irapha commented on #156
Oh I didn't mean to imply this was an issue. It's a nice-to-have :)

Cutting down those 8 minutes would make me happy haha

[2017-01-15 23:04] joshuamorton commented on #156
aight. If on the other hand we do start building with pyside (which we can't with indigo), then we will need something, because it would likely double our build time if not more.

[2017-01-15 23:09] jgkamat commented on #156
Hi!

If you need any help setting up build caching, I can help out. The result would mean that your builds will probably take 1-2 minutes to get dependencies, so if your dependency install step takes more than that, this might be a good option for you. I've been seeing a lot of fluctuations recently though, with downloading taking ~3 minutes, and I think that may be a recent change in CircleCI's i

[2017-01-16 00:23] #126 closed, assigned to nobody

[2017-01-16 00:23] #152 closed, assigned to nobody

[2017-02-03 16:21] irapha commented on #49
Yoo as of today this is possible! https://github.com/ros-visualization/rqt_common_plugins/pull/403

[2017-02-10 23:50] joshuamorton commented on #154
I don't believe this is blocked anymore.

[2017-02-10 23:58] irapha opened #157 "Add arg support for @with_launch_file"
Launch files can take optional args:

[code]

These can be set via launch files that include other launch files:
[code]

And via command line:
[code]

We'd like a way to set these in the test framework too:
[code]

[2017-02-11 00:04] irapha opened #158 "Better model spawning"
Right now, to spawn bzm into the simulation world, `buzzmobile/launch/simulation.launch` calls the `buzzmobile/launch/includes/sim_spawn_car.sh`, which sleeps for 3 seconds, and then finally roslaunches `buzzmobile/launch/includes/sim_spawn_car.launch`, which loads up the model.

The reason for this is, reportedly, because the model can't be loaded until the world is. This issue involves finding a

[2017-02-11 00:07] irapha opened #159 "Test that actuators work in simulation"
Given a `CarPose` (which can be mocked with `rqt_gui`'s Message Publisher) make sure simulated car runs, turns, etc.

Currently blocked by #160

[2017-02-11 00:08] irapha opened #160 "Time not moving in simulation"
Simulation model spawning works, but right now we can't test whether the actuators work (#159). The reason being that whenever the car is finally spawned, gazebo's clock stops running.

[2017-02-11 00:08] irapha opened #161 "Connect gazebo sensors back to bzm"
~~Blocked by #160~~

[2017-02-11 00:58] joshuamorton commented on #157
Some background:

the roslaunch script is housed in `/opt/ros/indigo/lib/python2.7/dist-packages/`. Within that,

 - `roslaunch/__init__.py` contains the main script that runs everything
 - this calls out to `roslaunch/rlutil.py` a lot, including some parsing functions
 - one of these calls out to `rosgraph/__init__.py` which decides to delete all the arg strings before anything is done with them.

[2017-02-11 23:05] irapha opened #162 "Test car_interface"
Marking it low priority due to complexity

[2017-02-11 23:06] irapha opened #163 "Test car_pose_mux"

[2017-02-11 23:06] irapha opened #164 "Test controller"

[2017-02-11 23:06] irapha opened #165 "Test steering"

[2017-02-11 23:07] irapha opened #166 "Test bearing more"
There exists a test already, but it is not extensive

[2017-02-11 23:08] irapha opened #167 "Test frame_merger"

[2017-02-11 23:08] irapha opened #168 "Test gps_mapper"

[2017-02-11 23:08] irapha opened #169 "Test lidar_to_frame"

[2017-02-11 23:09] irapha opened #170 "Test projector"

[2017-02-11 23:10] irapha opened #171 "Test inputer"
Marking it as low priority because of theoretical complexity of mocking `stdin`

[2017-02-11 23:11] irapha opened #172 "Test maps_querier"
Note: involves mocking api calls.

May involve testing that it errors out on not being able to find `googlemapskey.py` with a valid key

[2017-02-11 23:12] irapha opened #173 "Test image_const"
Marking it as low priority due to the node not being part of bzm core

[2017-02-11 23:12] irapha opened #174 "Test state_viz"

[2017-02-11 23:13] irapha opened #175 "Test route_mapper"
Note: involves mocking api calls.

May involve testing that it errors out on not being able to find `googlemapskey.py` with a valid key

[2017-02-11 23:15] irapha commented on #151
Closing this in favor of more granular issues I just opened (#162 - #175)

[2017-02-11 23:15] #151 closed, assigned to nobody

[2017-02-12 03:07] irapha commented on #131
Blocked by simulation not being done #112

[2017-02-13 05:57] irapha opened #177 "Figure out how to run pytests in parallel"
Right now, everything is single-threaded and boxed because things can interfere with each other through global roscore processes otherwise.

[2017-02-13 15:03] irapha commented on #177
Note that simulation tests are not yet running in boxed environments. We might need to do so when we have multiple test files.

[2017-02-13 15:05] irapha opened #178 "Only run tests affected by git changes"
I believe there is an easy way for DoCIF to give us what was changed in the current PR and we can easily find the list of unit tests that are affected by that.

This might get complicated if we decide to make integration tests.

Still, I'm leaving this issue open to encourage investigation on doing this, but it's very low priority

[2017-02-13 17:47] joshuamorton commented on #177
So throwing some thoughts out.

Currently in `test_utils/mock_nodes`, the listener node is created and then we do a crappy attempt to tear it down at each iteration, this sometimes works, but not always.

Another option is to create a single "test_listener_node". Then, this listener subscribes and unsubscribes to topics for each test, but the *node* is essentially a singleton that self-modifies in

[2017-02-13 17:50] joshuamorton commented on #177
update: I think I know how to spawn multiple roscores, finally!!!

(this also allows multiple gazebo's in parallel)

[2017-02-13 20:05] chsahit opened #179 "Don't cat urdf file into rosparams server"
In simulation.launch we load the urdf file into rosparams with cat which is pretty nasty. But if we don't then gazebo hangs waiting for the URDF to be loaded as a param. We should find a cleaner way to load the URDF.

[2017-02-15 15:00] irapha commented on #160
This is fixed in #181 but not yet merged. The solution was that the `robot_description` param needs to have the model urdf contents. Right now, we're cat-ing it in in the launch file, but there's an open issue to do better (#179)

[2017-02-15 15:01] irapha opened #182 "Make sim_car_interface actuate in gazebo"

[2017-02-15 15:34] irapha opened #183 "Get some real-world looking worlds"
Potentially some from https://github.com/austin-robot/utexas-art-ros-pkg/tree/master/stacks/art_vehicle/simulator_art

[2017-02-15 20:55] joshuamorton commented on #157
Oh also my poking around yesterday let me figure out how to do this.

[2017-02-16 06:21] joshuamorton commented on #157
(perhaps the easiest way is to update `sys.argv`, since we really don't care about it.

[2017-02-16 15:10] irapha commented on #149
@joshuamorton correct me if I'm wrong but isn't this almost fixed with #180 too?

(It's not high priority so please don't {put it in the same PR/worry about it} if it's not already being fixed there)

[2017-02-16 19:23] joshuamorton commented on #154
Tensorflow just released 1.0, so this should be possible now.

[2017-02-16 19:24] joshuamorton commented on #112
#181, how is this going?

[2017-02-16 19:25] joshuamorton commented on #149
I don't think I do much to address this.

The issue is still that the @with_launch_file decorator will override parent launch files.

[2017-02-16 21:31] irapha commented on #112
According to @evanxq the actuators work (from car pose to simulation), which means that #182, #160, #159, will all be fixed with PR #181, which is in code review rn. Left on this will be: #161, #179 #158, but the last two are low priority

[2017-02-16 21:37] irapha commented on #149
Oh ok. Honestly I'm considering closing this issue until we actually express a need for loading multiple launch files...

[2017-02-16 21:38] joshuamorton commented on #149
Given that afaik we can have launch files import other launch files, I
don't see a strong need for it either.

On Thu, Feb 16, 2017 at 4:37 PM Raphael Gontijo Lopes <
notifications@github.com> wrote:

[2017-02-16 21:50] #149 closed, assigned to nobody

[2017-02-16 21:52] irapha commented on #158
As mentioned in #181, we are currently not using the bash script, but not yet deleting it until we have real worlds (non-`empty.world`) to test that things work without it. Then we can close this issue. Alternatively, if we find that we do need the bash script to make it work, I'll keep this open until we have a better solution

[2017-02-17 05:15] #182 closed, assigned to chsahit, ebretl

[2017-02-17 05:15] #160 closed, assigned to chsahit

[2017-02-17 05:15] #159 closed, assigned to nobody

[2017-02-17 14:57] #177 closed, assigned to joshuamorton

[2017-02-17 15:55] irapha commented on #157
I think the key to this is the `roslaunch_strs` which can be passed in to `ROSLaunchParent`, who then "loads" them using `roslaunch.config.load_config_default` which parses the strings as XML.

I'm trying this out real quick to see if it works

[2017-02-19 01:27] irapha commented on #112
For future reference, implementing simulation tests in pytest might not be as straight forward as `@with_launch_file('buzzmobile', 'simulation.launch')`. See [0]. "gazebo_rosmaster_uri is also a thing", says @joshuamorton. Might require a whole new set of test utils.

[0] http://answers.ros.org/question/193062/how-to-run-multiple-independent-gazebo-instances-on-the-same-machine/

[2017-02-19 02:45] #157 closed, assigned to joshuamorton, irapha

[2017-02-19 02:47] joshuamorton opened #185 "Make check_topic and mock_node not rely on directory"
Currently `mock_node` and check topic will fail if tests are run from the wrong directory because the paths to listener and publisher are hardcoded. Lets fix that shall we.

[2017-02-20 22:01] joshuamorton commented on #185
Moving this to pyrostest.

[2017-02-20 22:01] #185 closed, assigned to nobody

[2017-02-20 22:10] irapha opened #187 "Use gtagency/pyrostest dependency"
Blocked until the spin off is ready for initial release

[2017-02-22 00:35] chsahit opened #189 "Generate Polyline and valid fix in gazebo"
We need a way to mock what google maps does in the real world for gazebo

[2017-02-22 00:36] chsahit opened #190 "Change constexprs in sim_car_interface to rosparams"

[2017-02-22 00:43] irapha commented on #189
Ideally, we'd need an easy way (maybe a tool?) to define a polyline inside gazebo (where you can see the world) and then it'll spit out that polyline and we can put it in each individual test case as a publish('/polyline', polyline)

[2017-02-22 00:46] chsahit opened #191 "Finish URDF file corresponding to actual car"
Currently, its reflecting robojacket's car's hardware

[2017-02-22 00:47] chsahit commented on #190
Blocked by #191

[2017-02-22 00:56] irapha opened #192 "test_controller still hangs sometimes"
in a fresh install, it will hang on the first try of testing then it will pass on all subsequent times.

I'm marking low priority because Josh now has Google to worry about and because it *does* work most of the time. But I'd like to at least know *why* this happens..

[2017-03-10 23:20] irapha commented on #78
@kpberry this issue prob relevant to the discussion we were having today

[2017-03-15 00:23] irapha opened #196 "Fix masses and inertials"
Current in the car urdf, I reverted the mass of the car parts to be very small. The reason being we weren't able to see the car moving in gazebo. However, the long term solution is to uncomment out the `` tags and remove the small-mass ones. Then, we'd need to modify the `max_torque` in `sim_car_interface.cpp` and potentially the `<inertials />` in urdf.

[2017-03-15 00:24] chsahit commented on #196
http://gazebosim.org/tutorials?tut=inertia

[2017-03-28 22:39] irapha commented on #161
I believe this is done in #193

[2017-03-28 22:42] irapha commented on #183
First three worlds being worked on are simple:
- [x] simple road
- [ ] road with obstacle the car can swerve around
- [ ] road with obstacle the car can't swerve around and has to stop

[2017-03-28 22:47] irapha commented on #38
Updates on this:

We have submitted a budget for OEC to give us 1/3 of the costs of a dedicated car laptop. The other 2/3 should come from an SGA bill if everything goes well with chartering next semester.

[2017-03-28 22:49] jgkamat commented on #38
@iRapha I would also reccomend looking into surplus. They might not have laptops though, but I do know they have optiplexes you might be able to take.

[2017-03-28 22:56] irapha commented on #38
@jgkamat Will def look into it! The reason we wanted a laptop is because we still wanted to be able to do hot-fixes on the car itself. Thanks for the info tho.

[2017-03-28 23:27] irapha opened #198 "Consider porting to Kinetic"
No one knows what this would entail right now.

This will also not happen for a long time, until we've at least done a public demo.

[2017-04-04 23:45] irapha opened #200 "make polyline node not break when coords dont move in a direction"
In our tests today, we found that, when the coords are a straight line in a certain direction, the poyline node is not able to create the polyline image because it assumes the width(or height) would be zero.

[2017-04-06 02:41] irapha opened #201 "build broken bc of apt-get"
is failing to fetch ros repos for some reason. See discussion: https://github.com/gtagency/buzzmobile/commit/34d006afe8483439912d9c1c890cb39a16daf99a

[2017-04-08 00:38] jgkamat commented on #201
I tried taking a stab at this for a bit, but I can't reproduce this particular error, I did need to make a few changes to make it work for me partially. I'll submit a PR in a bit and see what happens on your build.

One of the things that I did was switch to using the official ros docker image, which might help with this problem.

[2017-04-11 23:20] diptodip opened #203 "Use waypoints instead of polylines"
Using waypoints along with tangential interpolation will give smoother paths. By **tangential interpolation**, we mean constructing a curve from the current position to the next waypoint (i.e. pairwise between points) such that the sum of differences between the heading vector of the current position of the car and the tangent of the curve at that point and the heading vector of the next waypoint

[2017-04-11 23:21] diptodip commented on #200
Superseded by #203

[2017-05-09 19:41] irapha commented on #201
I forgot to close this, but it was fixed.

[2017-05-09 19:41] #201 closed, assigned to nobody

[2017-05-11 19:01] chsahit opened #204 "Measure the max speed of the car and caluclate max torque."
The first one can be done trivially enough on a track with a stopwatch. The second one can be done by looking at the datasheets for the CIMs and talking to robojackets about the gear ratio.

[2017-05-11 20:21] irapha commented on #204
One thing to note is that we *don't* want the `max_speed` rosparam to be the maximum speed the hardware can reach. We want it to be the maximum allowed speed for the car to run. This is why I don't see why a value like 0.2 is that bad (though I see why it is bad for simulation in your computer lmao).

I'd suggest that, instead of measuring the max_speed, you just make the car run at a certain spee

[2017-05-13 01:14] chsahit commented on #204
Ok so as a note, the max torque, which does need to be measured can be found at:
` buzzmobile/simulation/sim_car_interface/src/sim_car_interface.cpp:43`

[2017-05-13 01:22] irapha commented on #204
Don't forget to also put this as an inline comment in `constants.yaml`. Because the whole point is that if we're gonna have to maintain that being in two places, we better *know* that it needs to be modified in two places everytime we do modify in one of the two.

[2017-05-13 01:24] chsahit commented on #204
Should I also make another issue that both places need to be updated? Because that's a definite bug.

[2017-05-13 01:43] irapha commented on #204
yes

On Fri, May 12, 2017 at 6:24 PM Sahit Chintalapudi <notifications@github.com>
wrote:

[2017-05-14 18:53] chsahit opened #205 "Measure the tilt of the lidar"
It's tilted down, but we don't know by how much.

[2017-05-14 21:10] joshuamorton commented on #205
I believe it was 5 degrees, so you can use that until the measurement is made.

[2017-05-14 21:13] joshuamorton commented on #191
Hasn't significant progress been made here?

[2017-05-14 21:16] irapha commented on #191
Yes. The inertials in sahit's PR are what's missing for this to be closed I believe. It just took *forever* to get them and finalize the pr

[2017-05-29 23:23] joshuamorton commented on #192
Sahit seemed to have a similar issue, it seems to be that things hand when you connect to an already publishing node. No idea why unfortunately.

[2017-06-01 04:25] #187 closed, assigned to nobody

[2017-06-17 00:22] irapha opened #208 "Measure physical features of car"
See discussion buried in https://github.com/gtagency/buzzmobile/pull/193 and in #204

The constants are in buzzmobile/simulation/sim_car_interface/src/sim_car_interface.cpp:43 but will soon be converted into rosparams ( #190 )

[2017-06-17 00:26] irapha commented on #191
The PR is ready #193, but there are a few things missing from the URDF so I don't want to close this issue right now.

Namely: #205 and #208

[2017-06-17 02:14] chsahit commented on #204
So if we don't want the max speed/torque to be what the car's capabilities, this issue is resolved by deciding on a max speed, not measuring one right?

[2017-06-17 02:22] #161 closed, assigned to chsahit

[2017-06-17 02:22] #196 closed, assigned to chsahit

[2017-06-17 03:27] joshuamorton commented on #192
Is this still the case with test controller, I can't test it.

[2017-06-17 03:29] joshuamorton opened #209 "Add logging"
We should add some logging to our nodes, that will become super helpful for debugging.

We should also add some logging to pyrostest and our tests, which will be even more super helpful for debugging. The `logging` module is very powerful and pretty easy to use.

[2017-06-20 23:15] irapha commented on #204
Correct

[2017-06-20 23:16] irapha commented on #192
@chsahit ^

[2017-08-20 21:19] joshuamorton commented on #192
@chsahit bumperoni. I don't believe it is having issues on CI, but I'd still like to know.

[2017-08-20 21:20] joshuamorton commented on #178
smol note: bazel would let us do that.

[2017-08-20 21:53] joshuamorton commented on #112
So from the investigation I did yesterday, here's what (I believe) the state of gazebo simulation is:

1. Some dependencies aren't installed by default, this is easy to fix with a `rosdep install`, but you need to know which things they are. For reference, I believe its the needed packages are `hector_gazebo_plugins controller_manager controller_manager_msgs`, at least that's what seemed to work o

[2017-08-20 21:54] irapha commented on #178
@joshuamorton if you really want bazel I'm ok with it but like you'd have to make the PR yourself

[2017-08-20 21:58] joshuamorton commented on #178
At this point call it a slightly more serious "refactor to use lisp".

[2017-08-20 22:02] irapha commented on #112
I'm gonna throw someone under the bus here and tag @kpberry bc he said he wants to help car this semester

[2017-08-20 22:09] irapha commented on #178
I'm ready to stop any and all lisp PRs.

[2017-08-21 01:04] joshuamorton commented on #192
@jgkamat

Ok, so this seems to fail almost every time on CI, but works 100% of the time locally. Because we're on docker, sshing into the CI environment is practically useless, since everything is done inside of a docker container created inside of the CI environment. I'm trying to run locally to see if I can repro, but I run into the following:

as part of our install script, I delete a symlink (

[2017-08-21 04:49] jgkamat commented on #192
Hmm, I can try to take a look at this on tuesday earliest.

You can definetly still ssh via the circleci ssh feature, it's just a bit more complicated. Ssh in, then run a `docker ps` to find the running container that's hanging, and then run `docker exec -ti <container sha> bash` and you should get a shell up.

I'm a little bit confused as to why the symlink would be existing on the remote but not

[2017-08-21 06:41] joshuamorton commented on #192
I can't, it fails with an error: `Error response from daemon: Unsupported: Exec is not supported by the lxc driver`, which led down a fun rabbit hole that was ultimately unsuccessful :/

Apparently Circle doesn't use normal docker.

[2017-08-21 06:46] joshuamorton commented on #178
Ok so actually we'd probably want to use something like this: https://circleci.com/docs/2.0/workflows/, but I'm not sure how it plays with DoCIF.

[2017-08-21 23:28] jgkamat commented on #178
@joshuamorton this is actually a fairly complicated issue.

Originally, based on early descriptions of circleci 2.0, it seemed like I could keep the same workflow DoCIF provides (building a baseimage for caching so build performance is much improved), so I wanted to build a 2.0 backend for DoCIF. However circleci 2.0 ended up being a lot less powerful than I originally anticipated, which makes it

[2017-08-21 23:32] joshuamorton commented on #178
As someone working at a Very Large Company, this isn't exactly true. It would significantly slow development, but the greater point is true. This is a very premature optimization.

[2017-08-22 02:55] jgkamat commented on #178
I guarantee that every *competent* large company is running all tests on all commits at some point in their build process. While this might be hidden from developers, or developers might turn this off for local testing, or it might be run only before merging into source control to speed things up, there are always cases that the build system simply cannot predict. (as a trivial example) if test A

[2017-08-22 03:34] joshuamorton commented on #178
I can guarantee that this becomes computationally infeasible past a certain scale, but that's mostly beside the point here, like I said. If you want to have a longer conversation about testing methodology and infrastructure (at google), feel free to PM me.

[2017-08-26 22:23] joshuamorton commented on #192
Alright, now to bamboozle everyone even more: I can't repro this on local docker container.

I ran, on my host machine,

1. `sudo docker create -i -t arbitrary_value bash`. arbitrary_value here is the name of the docker image from buildbaseimage.sh I believe. Basically in our case its an empty docker container with the empty folder `~/catkin_ws/src/buzzmobile` defined.
2. `sudo docker start -a -i

[2017-08-27 03:09] jgkamat commented on #192
Yup, I can't seem to reproduce it locally on a single machine (after one run).

Since it seems flakey (not all the time) and it happens on CI but not on local, this smells like a deadlock/race condition that's going on, which is somehow made worse when you have less parallization (CI only has 2 threads).

It's possible some subtle change to CircleCI caused this to start triggering now. I have no i

[2017-08-27 23:42] joshuamorton commented on #192
I'm still leaning towards it being an issue in pyrostest, if only because https://circleci.com/gh/gtagency/buzzmobile/596 passes.

My guess would be that there's something that can spin if the context managers aren't being used correctly, but I'm not sure why exactly that would be the case.

[2017-08-28 02:31] joshuamorton commented on #192
Ok nevermind. I added an additional test in https://github.com/gtagency/pyrostest/pull/26, and that works just fine. So yeah, this appears to be a weird CI issue.

[2017-09-18 01:30] joshuamorton commented on #192
Added some new things to pyrostest that should mitigate this. In testing it appeared to make the tests fail early instead of hanging, so that's nice.

[2017-11-15 07:09] chsahit commented on #198
I'm closing this issue and opening another one which is just porting to kinetic. The camera driver things that were blocking us are no longer an issue as a few months ago libusb_camera got ported to kinetic.  Being on Indigo has made things harder for new members. Working on porting install  script now.

[2017-11-15 07:09] #198 closed, assigned to nobody

[2017-11-15 07:12] chsahit opened #213 "Move to ROS Kinetic"
Most things in bzm are ROS distro invariant as I could run a lot of the nodes on my computer without running a VM. The install script will have to be ported as spinning up the nodes in the bzm package to make sure we're not using deprecated standards and no dependencies are missing. The CI instance will also now have to run Ubuntu 16.04

[2017-11-15 07:13] chsahit commented on #213
@joshuamorton will this affect pyrostest? If so I won't keep pushing on this one until we iron out sim issues.

[2017-11-15 07:13] jgkamat commented on #213
Re testing, you could steal the good bits from https://github.com/gtagency/buzzmobile/pull/202 and just change the `FROM` in the dockerfile from `indigo` to `kinetic`, which is an ez upgrade :)

[2017-11-15 07:31] joshuamorton commented on #213
It shouldn't. Try it and I'll fix any problems.